<main class="main post">
   {{#if @customHTML.beforePost}}
      <div class="banner">
         <div class="main__inner">
            {{{@customHTML.beforePost}}}
         </div>
      </div>
   {{/if}}
   {{#getPost @config.custom.frontPost}}
      <article class="content">

         {{#featuredImage}}
            {{#if url}}
               <figure class="content__featured-image content__featured-image--attop">
                  <img
                     src="{{url}}"
                     {{#if @config.site.responsiveImages}}
                        {{responsiveImageAttributes 'featuredImage' srcset.post sizes.post}}
                     {{/if}}
                     {{ lazyload "eager" }}
                     height="{{height}}"
                     width="{{width}}"
                     alt="{{alt}}"
                     aria-describedby="image-caption">
               </figure>
            {{/if}}
         {{/featuredImage}}

         {{#checkIf @config.post.displayMainTag '&&' mainTag}}
            <div class="content__meta content__meta--attop">
               <div class="content__meta--attop__inner">
         {{else}}
            {{#checkIfAny featuredImage.caption featuredImage.credits}}
               <div class="content__meta content__meta--attop">
                  <div class="content__meta--attop__inner">
            {{/checkIfAny}}
         {{/checkIf}}
            {{#if postViewConfig.displayMainTag}}
               {{#if mainTag}}
                  <div class="content__maintag">
                     <svg width="20" height="20" aria-hidden="true" focusable="false">
                        <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#tag" />
                     </svg>
                     {{ translate 'post.publishedIn' }} <a href="{{mainTag.url}}" class="metadata__maintag">{{mainTag.name}}</a>
                  </div>
               {{/if}}
            {{/if}}

            {{#featuredImage}}
               {{#if url}}
                  {{#checkIfAny caption credits}}
                     <div id="image-caption" class="content__featured-image__caption">
                        <svg width="20" height="20" aria-hidden="true" focusable="false">
                           <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#image" />
                        </svg>
                           {{caption}}
                           {{credits}}
                     </div>
                  {{/checkIfAny}}
               {{/if}}
            {{/featuredImage}}
         {{#checkIf @config.post.displayMainTag '&&' mainTag}}
               </div>
            </div>
         {{else}}
            {{#checkIfAny featuredImage.caption featuredImage.credits}}
                  </div>
               </div>
            {{/checkIfAny}}
         {{/checkIf}}

         <div class="main__inner">

            {{#checkIfAny postViewConfig.displayAuthor postViewConfig.displayDate}}
               <div class="content__meta">
                  
                  {{#if postViewConfig.displayAuthor}}
                     <div class="content__author">
                        {{#author}}
                           {{#if avatar}}
                              <img
                                 src="{{avatarImage.url}}" 
                                 {{ lazyload "lazy" }}
                                 height="{{avatarImage.height}}"
                                 width="{{avatarImage.width}}" 
                                 alt="{{avatarImage.alt}}" 
                                 class="content__author__avatar">
                           {{/if}}
                           <div>
                              <a href="{{url}}" class="content__author__name">{{name}}</a>
                              {{#if authorViewConfig.displayShortDescription}}
                                 <p>{{authorViewConfig.displayShortDescription}}</p>
                              {{/if}}
                           </div>
                        {{/author}}
                     </div>
                  {{/if}}

                  {{#if postViewConfig.displayDate}}
                     <div class="content__date">
                        <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                           {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                              {{date createdAt @config.custom.formatDate}}
                           {{else}}
                              {{date createdAt @config.custom.formatDateCustom}}
                           {{/checkIf}}
                        </time>
                     </div>
                  {{/if}}

               </div>
            {{/checkIfAny}}
             
            <header class="content__header">
               <h1 class="content__title">{{title}}</h1>
               {{#if postViewConfig.displayPostLead}}
                  <p class="content__lead">{{postViewConfig.displayPostLead}}</p>
               {{/if}}
            </header>

            <div class="content__entry">
               {{{text}}}
            </div>     

            {{#checkIfAny postViewConfig.displayUpdatedDate postViewConfig.displayShareButtons}}
               <footer class="content__footer">

                  {{#if postViewConfig.displayUpdatedDate}}
                     <div class="content__last-updated">
                        {{ translate 'post.lastUpdatedDate' }}
                        <time datetime="{{date modifiedAt 'YYYY-MM-DDTHH:mm'}}">
                           {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                              {{date modifiedAt @config.custom.formatDate}}
                           {{else}}
                              {{date modifiedAt @config.custom.formatDateCustom}}
                           {{/checkIf}}
                        </time>
                     </div>
                  {{/if}}

                  {{#if postViewConfig.displayShareButtons}}
                     {{#checkIfAll @plugins.socialSharing @plugins.socialSharing.state}}
                        <div class="content__share">
                           {{{@customSocialSharing}}}
                        </div>
                     {{else}}
                        <div class="content__share">
                           {{> share-buttons}}
                        </div>
                     {{/checkIfAll}}          
                  {{/if}}

               </footer>
            {{/checkIfAny}}

         </div>
      </article>
   {{/getPost}}

   {{#if @customHTML.afterPost}}
      <div class="content__section banner">
         <div class="main__inner">
            {{{@customHTML.afterPost}}}
         </div>
      </div>
   {{/if}}
</main>